@import '../style/mixins.scss';

.title {
	@include adaptiv-property('font-size', 40, 20);
	@include adaptiv-property('line-height', 58, 30);
	padding: 0 5px;
	text-align: center;
	color: white;
	margin-bottom: 5px;
}

.subtitle {
	@include adaptiv-property('font-size', 24, 16);
	@include adaptiv-property('line-height', 35, 25);
	color: black;
	text-align: center;
}

.error {
	color: rgb(199, 61, 61);
	text-align: center;
}
