@import '../../../../style/mixins.scss';

.wrapper {
	background: center / cover no-repeat url('../../../../assets/img/home/home_bg.jpg') rgb(110, 110, 110);
	color: white;
	font-weight: bold;
	height: 100vh;
	display: flex;
	flex-direction: column;
	
	// @include adaptiv-property('padding-bottom', 200, 60);
	.title_style {
		@include adaptiv-property('margin-top', 110, 40);
	}
	.discription{
		@include adaptiv-property('font-size', 24, 16);
		@include adaptiv-property('line-height', 44, 25);
		color: #FFFFFF;
		@include adaptiv-property('width', 530, 300);
		text-align: center;
		margin: 0 auto;
		@include adaptiv-property('margin-top', 32, 15);
		
	}
	.wrapper_button {
		flex: 1 1 auto;
		display: flex;
		justify-content: center;
		align-items: center;
		@include adaptiv-property('margin-top', 15, 10);

	}
}