@import '../../style/mixins.scss';
.wrapper {
	display: flex;
	position: relative;
	a {
		@include adaptiv-property('margin-left', 30, 15);
		@include adaptiv-property('font-size', 14, 12);
		font-weight: bold;
		line-height: 17px;
		transition: all .4s;
		&:first-child {
			margin-left: 0;
		}
	}
	&.white {
		a {
			color: white;
			&:hover {
				color: #bb9c66;
			}
			&.active {
				color: #f0c884;
			}
		}
		svg {
			fill: white;
		}
	}
	&.black {
		a {
			color: black;
			&:hover {
				color: #bb9c66;
			}
			&.active {
				color: #bb9c66;
			}
		}
		svg {
			fill: black;
		}
	}
	.img {
		position: absolute;
		display: block;
		bottom: 5px;
		left: 5px;
		transform: translateX(-100%);
		@include adaptiv-property('width', 35, 25);
		@include adaptiv-property('height', 35, 25);
		svg {
			width: 100%;
			height: 100%;
		}
	}
}