@import './style/fonts.scss';
@import './style/reset.scss';
@import './style/common.scss';
@import "react-tiger-transition/styles/main.min.css";

html {
	height: 100vh;
	#root {
		height: 100%;
		.App {
			height: 100%;
		}
	}
}